.feynman__title{
  min-width: 648px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
