.footer__autor{
  color: white;
  padding-bottom: 18px;
  padding-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0;
}
