.table_theme_dark{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 90px;
  margin: 0 auto;

}
