.header__title{
  display: flex;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  font-family:  'Inter', 'Arial', sans-serif;
  min-height: 600px;
  flex-direction: column;
justify-content: center;



}
