.header__title{
  display: flex;
  width: 730px;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  font-family: 'Inter';
  min-height: 600px;
  flex-direction: column;
justify-content: center;



}
