.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}


a:hover{
  color: #2f80ed;
}
img[src="./images/header-image.png"]{
  width: 768px;
  height: 608px;
  top: 30px;
}
@keyframes rotation{
  from{ transform: rotate(0deg);
  }
  to{transform: rotate(360deg);
  }
}
.rotation{
  animation: rotation 20s linear infinite;

}
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
.feynman__title{
  width: 648px;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-family: inter;
  font-weight: bold;
  padding: 0 324px;
  text-align: center;


}
.feynman{
  padding-top: 100px;
  position: relative;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  background-size: 867px 637px;
}
.feynman__subtitle{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  line-height: 51px;
  font-size: 36px;
  font-family: inter;
  font-weight: normal;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-family:  inter;
  font-weight: normal;
  transition: opacity .2s linear ;
  text-decoration: none;
  color: #2f80ed;

}
.feynman__link:hover{
  opacity: 0.5;

}
